<!DOCTYPE html>
<html lang="en">
<head>

          <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
          <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
          <meta http-equiv="Pragma" content="no-cache" />
          <meta http-equiv="Expires" content="0" />
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
          <meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
          <meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

          <title>Carnival | About</title>
          <link rel="shortcut icon" href="GUSAC_LOGO.ico">
	  <link href="css/bootstrap.min.css" rel="stylesheet">
	  <link href="css/main.css" rel="stylesheet">

</head>
<body>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
</body>
</html>
