<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Events</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
				<li><a href="/about" >About</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/workshops" >Workshops</a></li>
				<li><a href="/culturals" >Culturals</a></li>
				<li><a href="http://gitamstudio.com/" >Film Festival</a></li>
				<li><a href="/literary" >Literary Fest</a></li>
				<li><a href="/lectures" >Guest Lectures</a></li>
				<li><a href="/sponsors" >Sponsors</a></li>
				<li><a href="/register" >Register</a></li>
			</ul>

        </div>
    </div>
</div>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Events</h2>
					<h3 class="section-subheading text-muted">Below listed are the events for GUSAC Carnival 2015.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle" src="img/icons/1.jpg" width="100%" height="auto" border="" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/arqueria"><h3>Arqueria</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Participants must prepare a bot (wired or wireless) which must be capable of moving on a metal rod and shooting an ordinary table tennis ball by aiming the bull's eye. Competition consists of 2 rounds.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/2.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/casestudy"><h3>Case Study</h3></a>
									<h4 class="subheading">Electronics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Imagine your life without facebook, YouTube or Google. Hard isn’t it? The harder truth is out of 1.28 billion people in India, only 243 million people have access to internet which is less than 20% of the total population.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/3.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/magnogenesis"><h3>Magnogenesis</h3></a>
									<h4 class="subheading">Electronics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Magnetic levitation, maglev or magnetic method by which an object is suspended with no support other than magnetic fields. Magnetic force is used to counteract the effects of the gravitational and any other accelerations.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/4.png" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/clashofbots"><h3>Clash of Bots</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">The theme of the event is to construct a bot which has the immense capability to destroy the enemy bot in the given arena.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/5.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/extremeadv"><h3>Extreme Adventures</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Build a bot that is capable of traversing a grid and passing through different stages.The bot has to traverse a grid and should be able to pass through different stages placed randomly.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/6.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/jury"><h3>You the Jury</h3></a>
									<h4 class="subheading">Law</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Its Judgment time. Put your legal knowledge and analytical skills to test and deliver justice to your clients. Solve the given case within the stipulated time and present your arguments to justify your points.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/7.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/killerquest"><h3>Killer Quest</h3></a>
									<h4 class="subheading">Law</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Step into the shoes of a private detective and solve puzzling cases Hunt down clues and catch the quest Hone your detective skills..!!!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/8.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/pharmascruto"><h3>Pharmascruto</h3></a>
									<h4 class="subheading">Pharmacy</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Gear up for one of the most awaited and brain storming events of GUSAC Carnival V.4.0. Get ready to tickle your nerves and dive into your world of pharmacy.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/9.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/60secs"><h3>60 Seconds To Fame</h3></a>
									<h4 class="subheading">Entertainment</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Participants should pull the crowd and judges and impress them.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/10.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/cstrike"><h3>Counter Strike</h3></a>
									<h4 class="subheading">Gaming</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Get ready to wake the gamer in you! Prove your combat skills head on in Counter Strike.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/11.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/fifa"><h3>Fifa</h3></a>
									<h4 class="subheading">Gaming</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Are you a football freak???.....Are you good at it???......Then it’s time to showcase your FIFA skills on a head on match.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/12.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/steeryouway"><h3>Steer Your Way</h3></a>
									<h4 class="subheading">Entertainment</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">The game is based on the game of steady hands. There will be a specially equipped rover provided and the participant is supposed to guide the rover along the length of the wire without touching the ring attached to the rover.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/13.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/Jenga"><h3>Jenga</h3></a>
									<h4 class="subheading">Civil Engineering</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Blocks are arranged in tower form. Participants should remove each one block from the tower and place in top of tower such that structure should not fall.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/14.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/roborun"><h3>Robo Run</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">An autonomous robot starting from the point marked on arena should reach  the end point tracing the path.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/15.png" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/civilstructures"><h3>Civil Structures</h3></a>
									<h4 class="subheading">Civil Engineering</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">The participants need to construct an arch with supports using bricks and sand only instead of using concrete and steel. The arch constructed should be capable of bearing the weights that will be placed on it. A team of 3 participants will be allowed to peform the event.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/16.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/wargames"><h3>War Games</h3></a>
									<h4 class="subheading">Computer Science</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Did you watch die hard 4, wargames or the matrix because you couldn't get enough? Does mr. robot keep you awake all night? Do you look in the source code for clues? This event is for you! All you have to do is play the games to win.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/17.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/enigma"><h3>Enigma</h3></a>
									<h4 class="subheading">Computer Science</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">An Enigma machine was a series of electro-mechanical rotor cipher machines developed and used in the early to early-mid twentieth century for commercial and military usage.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/18.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/magnetron"><h3>Magnetron</h3></a>
									<h4 class="subheading">Electrical</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Magnetron is based on the principle of electromagnetism. A rover(bot) is attached with an electromagnet to its arm which should be capable of displacing any kind of small ferric substances (pins, nails, screws) from the given place to the destination with the help of magnetising and demagnetising the electromagnet as per the requirement.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/19.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/riptide"><h3>Riptide</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">The participants are given a particular task in each round. They are to carry out the task inthe most simplest, yet efficient manner. The difficulty level of the task increases as they advance into the next rounds.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/20.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/brainiac"><h3>Brainiac</h3></a>
									<h4 class="subheading">Non Technical</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">This event is all about your common sense and presence of mind. It is a non-technical event and the Event consists of three rounds. These rounds test your ability to solve simple conundrums and general situations.  Each team should consist of 2 or 3 members.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/21.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/tresurehunt"><h3>Treasure Hunt</h3></a>
									<h4 class="subheading">Entertainment</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Treasure Hunt  is all about finding your milestones for your destination. This is an amusement oriented hunt with an added flavor of thrill and suspense.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/22.png" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/sciencequiz"><h3>Bio-Inquisitive</h3></a>
									<h4 class="subheading">Quiz</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">As today’s world is dependent on science and technology,we as  budding  engineers of India  must know the basic scientific theories so as to improve the present day technologies to a higher level thus developing  India to  a “scientific India.”</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/23.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/digitalkab"><h3>Plywardz</h3></a>
									<h4 class="subheading">Non Technical</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Participants must prepare a bot (wired or wireless) which must be capable of moving on a metal rod and shooting an ordinary table tennis ball by aiming the bull's eye. Competition consists of 2 rounds.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/24.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/waterrock"><h3>Water Rocketry</h3></a>
									<h4 class="subheading">Entertainment</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Design and construct a water propelled rocket pressurized with air to compete against different constraints in separate rounds.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/25.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/electron"><h3>Electron</h3></a>
									<h4 class="subheading">Electronics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Clear the tasks assigned in each round and present the required outputs of your circuits to advance to the next level.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/26.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/paperprep"><h3>Paper Presenation</h3></a>
									<h4 class="subheading">Technical</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">This event aims at professional study of concept to ideate for the solution of global challenges and to sway out the information of newborn technology.Participants can present their views on a wide range of topics from international issues to the latest technology.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/icons/27.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/canvasideas"><h3>Canvas Your Ideas</h3></a>
									<h4 class="subheading">Poster Making</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Products are of various types some are helpful and some can be more helpful. The main aim of this event is to enable to participant to design a product to the given requirements. Be creative and think outside the box!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
							<br>
								<h4>End</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container-fluid footer-design">

			<div class="row text-center">
				<div class="col-xs-4"><a href="/team">Team</a> </div>
				<div class="col-xs-4"><a href="/contact">Contact</a></div>
				<div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
			</div>
			<div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
		</div>
	</footer>

	<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script defer src="js/bootstrap.min.js"></script>
	<script defer src="js/main.js"></script>
</body>
</html>
