<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Events</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
                <li><a href="/about" >About</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/workshops" >Workshops</a></li>
                <li><a href="/cultural" >Culturals</a></li>
                <li><a href="/filmfest" >Film Festival</a></li>
                <li><a href="/litfest" >Litrary Fest</a></li>
                <li><a href="/lectures" >Guest Lectures</a></li>
                <li><a href="/sponsors" >Sponsors</a></li>
                <li><a href="/register" >Register</a></li>
            </ul>

        </div>
    </div>
</div>

	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Events</h2>
					<h3 class="section-subheading text-muted">Below listed are the events for GUSAC Carnival 2015.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/aeroliner"><h3>Aeroliner</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Build a robot that is capable of picking blocks and depositing it on the given platform by traversing the arena by zip line mechanism.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/casestudy"><h3>Case Study</h3></a>
									<h4 class="subheading">Electronics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">This event is aimed at involving students from diverse fields to come up with ideas to tackle this problem and come up with a perspicacious solution.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/magnogenesis"><h3>Magnogenesis</h3></a>
									<h4 class="subheading">Electronics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Magnetic levitation, maglev or magnetic method by which an object is suspended with no support other than magnetic fields. Magnetic force is used to counteract the effects of the gravitational and any other accelerations.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/clashofbots"><h3>Clash of Bots</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">The theme of the event is to construct a bot which has the immense capability to destroy the enemy bot in the given arena.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/extremeadv"><h3>Extreme Adventures</h3></a>
									<h4 class="subheading">Robotics</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Build a bot that is capable of traversing a grid and passing through different stages.The bot has to traverse a grid and should be able to pass through different stages placed randomly.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/jury"><h3>You the Jury</h3></a>
									<h4 class="subheading">Law</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Its Judgment time. Put your legal knowledge and analytical skills to test and deliver justice to your clients. Solve the given case within the stipulated time and present your arguments to justify your points.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/killerquest"><h3>Killer Quest</h3></a>
									<h4 class="subheading">Law</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Step into the shoes of a private detective and solve puzzling cases Hunt down clues and catch the quest Hone your detective skills..!!!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/pharmascruto"><h3>Pharmascruto</h3></a>
									<h4 class="subheading">Pharmacy</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Gear up for one of the most awaited and brain storming events of GUSAC Carnival V.4.0. Get ready to tickle your nerves and dive into your world of pharmacy.</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/virtsyn"><h3>Virtual Synthesis</h3></a>
									<h4 class="subheading">Literary</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/cstrike"><h3>Counter Strike</h3></a>
									<h4 class="subheading">Gaming</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Coming Soon!</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<a href="/events/fifa"><h3>Fifa</h3></a>
									<h4 class="subheading">Gaming</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Are you a football freak???.....Are you good at it???......Then it’s time to showcase your FIFA skills on a head on match.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
							<br>
								<h4>More coming</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<footer>
		<div class="container-fluid footer-design">

			<div class="row text-center">
				<div class="col-xs-4"><a href="/team">Team</a> </div>
				<div class="col-xs-4"><a href="/contact">Contact</a></div>
				<div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
			</div>
			<div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
		</div>
	</footer>

	<script defer src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script defer src="js/bootstrap.min.js"></script>
	<script defer src="js/main.js"></script>
</body>
</html>
