<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Home</title>
	<link rel="icon" type="image/png" href="img/fevicon.png">
	<link rel="stylesheet" href="css/skel.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/style-xlarge.css" />
    <link rel="stylesheet" href="css/style-index.css" />

    <style type="text/css">
    	.button-cust{
    		margin-top: 15px;
    		border: 2px solid #fff;
    	}
    	.button-cust:hover{
    		background-color: #fff;
    		color: #3f3f3f;
    		border: 2px solid #3ba666;
    	}
    	header p{
    		color: white;
    	}

    	.icon-cust:hover{
    		background-color: #fff;
    		color: black;
    		opacity: 0.8;
    		cursor: pointer;
    	}

        </style>

</head>
	<body class="landing">

			<header id="header">
				<h1><a href="index.html">GUSAC CARNIVAL</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="#">Registrations</a></li>
						<li><a href="#">Events</a></li>
                        <li><a href="#">Workshops</a></li>
                        <li><a href="#">Guest Lectures</a></li>
						<li><a href="#">Literary Fest</a></li>
                        <li><a href="#">Film Festival</a></li>
                        <li><a href="#">Cultural Night</a></li>
					</ul>
				</nav>
			</header>

			<section id="banner">
                <br/>
				<ul class="actions">
					<li>
                        <i style="position:relative;" class="icon icon-cust big rounded fa-angle-double-down"></i>
					</li>
				</ul>
			</section>

			<section id="one" class="wrapper style1 align-center">
				<div class="container">
					<header>
						<h2>Our various modules.</h2>
					</header>
					<div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-star"></i>
                            <h3 class="heading">Events</h3>
							<p>Various events conducted as part of Carnival.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-camera-retro"></i>
							<h3 class="heading">Film Festival</h3>
                            <p>It is our photography club's event, directors, photographers etc everyone can lookup to this event.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-users"></i>
							<h3 class="heading">Guest Lectures</h3>
                            <p>Eminent people covering various disciplines would be delivering good lectures.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
					</div>
                    <div class="row 200%">
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-gears"></i>
							<h3 class="heading">Workshops</h3>
                            <p>As always we come up with a great line of workshops, soon you would get to know the details of the workshop.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
						<section class="4u 12u$(small)">
							<i class="icon big rounded fa-bookmark"></i>
							<h3 class="heading">Literary Festival</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime molestiae.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
						<section class="4u$ 12u$(small)">
							<i class="icon big rounded fa-music"></i>
							<h3 class="heading">Cultural Festival</h3>
                            <p>The cultural fiesta of our fest will be back with some spectacular performances.<br/><a href="#" class="button button-cust small">View More</a></p>
						</section>
					</div>
				</div>
			</section>

			<section id="four" class="wrapper style3 special">
                    <div style="color:#fff" class="container">
						<header class="major">
							<h2>Contact Us</h2>
							<p>Have some queries? Fill out the form below.</p>
						</header>
                        <form>
                            <label><span style="color:white;">Name :</span> <input style="display:inline" type="text" id="name" name="name" /></label>
                            <label><span style="color:white;">Email :</span> <input type="email" id="email" name="email" /></label>
                            <label><span style="color:white;">Phone :</span> <input type="text" id="phone" name="phone" /></label>
                            <label><span style="color:white;">Message :</span><textarea type="text" id="message" name="message" ></textarea> </label>
                        </form>
						<ul class="actions">
							<li><a href="#" class="button special big">Contact Us</a></li>
						</ul>
					</div>
				</div>
			</section>

			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="http://facebook.com/gusaccarnival" class="icon fa-facebook"></a></li>
						<li><a href="https://twitter.com/GUSAC_Team" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Gusac</li>
						<li>Design: <a href="http://gusac.org">GUSAC Web Design Team</a></li>
					</ul>
				</div>
			</footer>
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
</body>
</html>
