<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | About</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
				<li><a href="/about" >About</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/workshops" >Workshops</a></li>
				<li><a href="/culturals" >Culturals</a></li>
				<li><a href="http://gitamstudio.com/" >Film Festival</a></li>
				<li><a href="/literary" >Literary Fest</a></li>
				<li><a href="/lectures" >Guest Lectures</a></li>
				<li><a href="/sponsors" >Sponsors</a></li>
				<li><a href="/register" >Register</a></li>
			</ul>

        </div>
    </div>
</div>
<br>

<div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Welcome to Literary Fest</h1>
        <p>
          hkljflkadshf djhfjhadkfhadf kjadfhkadshfkah lkajdfhkahdsflk kljadsfhkladshf kjadshfkh asdfk kajdfhkadhfad f akljdfhlkajdfhlkajdfh kjadfhlka dsfh
        </p>
      </div>
    </div>

    <div class="container">

      <div class="row">
          <div class="col-md-7">
              <h2>Game of Thrones</h2>
              <p>Valar Morghulis!
              	Men and women of the Seven Kingdoms! Come, join us as we take you to Westeros. Join your favorite house and journey through King's Landing to the mighty North. Join the Night's Watch or serve the Khaleesi. Sharpen your swords because Winter is coming and this time it's bringing something with it.</p>
              <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-5">
              <img class="litrary-event-image img-responsive center-block" src="img/culturals/box-image-1.jpg" alt="Generic placeholder image">
          </div>
      </div>

      <hr>


      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2>Harry Potter</h2>
          <p>LUMOS! It's been 8 years since the last book was published and 4 years since the last movie was released... Yet the magic of Harry Potter still lives within us. Are you a true Potterhead? If yes, then throw your name in the Goblet Of Fire and emerge as a Champion! Participate in an array of events never witnessed before and relive those magical and nostalgic moments.NOX! </p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="litrary-event-image img-responsive center-block" src="img/culturals/box-image-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-7">
          <h2>Treasure Hunt</h2>
          <p>Indiana! The Secret Service needs your assistance immediately! The Nazi's have found the first clue about the possible location of the secret Mayan treasure. But we need to get there before them! Fortunately, we have the first clue with us. Your mission, should you choose to accept it, will involve finding the Mayan treasure before the Nazi forces can.Good luck, my friend.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="litrary-event-image img-responsive center-block" src="img/culturals/box-image-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr>


      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <h2>Sherlock and Dr Watson</h2>
          <p>There has been a murder!! We require your assistance immediately. The details of the murder will be given to you at the crime scene by our police personnel. We need your deduction skills now, more than ever.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="litrary-event-image img-responsive center-block" src="img/culturals/box-image-1.jpg" alt="Generic placeholder image">
        </div>
      </div>

      <hr>
      <div class="row">
      <div class="col-md-4">
        <h2>Rage Builder</h2>
        <p>You love comics?  It’s the love that’s going to help you to write one! A short  comic using a growing set of pre-made cartoon faces, or rage faces, which usually express rage or some other simple emotion or activity, will be given and the participants need to write the comic strip for the comic in the given space.</p>
        <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Pen is Mightier than Sword</h2>
        <p>The pen is mightier than the sword, they say. If you agree to this then showcase your talent by a piece of writing giving your views about the topic.</p>
        <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Short Stories</h2>
        <p>All of us have an inborn talent of making stories; it’s time to showcase it. The starting and ending is given by us and you chose to plot the story with cartoon characters and writing it in the most funny and innovative way possible.</p>
        <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Advertisement</h2>
          <p>An event to display your acting skills by making a video of about two minutes for our title sponsors ‘Ask Vizag’.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Hot Seat</h2>
          <p>Hot seat focuses on a person's compatibility with his/her friend to guess the required word with the help of verbal clues. Also guess words with the help of pictorial aid.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Word Play</h2>
          <p>This is an event that focuses on your ability to decipher jumbled letters and sentences and form a paragraph. The event also focuses the command you have on spellings.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Speak your Best</h2>
          <p>Come out of your comfort zone and raise your voice! Use this platform to excel in the art of Organized Arguing - DEBATE! How would you persuade others that "your side" is correct? What type of logical, emotional and ethical tactics would you play? Elocution! The true art of delivering a speech! All of us blab around casually and incoherently.. But can you come up with a strategy for a topic on the spot! Can you gather your ideas within the stipulated time? Is your thought process up to the challenge.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Anime Event</h2>
          <p>BAKA YARU KONA YARU!! All you anime freaks and geeks out there!, we need your power levels to be “OVER 9000!!!” This event is specially for you! Get your Poke-balls ready! because you "gotta catch em’ all!” It will be an event about your favorite anime shows. It’s time to show the world that you’ll be the best pirate king ever in the world! Recommended pre-requistes: ninjutsu , taijutsu , genjutsu , and loads of anime knowledge! (NO mind reading skills with huge ninja robots and Geass allowed!) PS: Shinigami’s are also allowed and if you have a shinigami friend apples would be sold separately! ;)</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Entertainment Quiz</h2>
          <p>How well do you know your favorite superstars? Think you know it all about your favorite Books, TV shows and movies? Then test your knowledge and win prizes</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h2>Best out of Waste</h2>
          <p>The planet is in trouble! We humans produce SO much of waste every day. The need of the hour is to Reduce, Reuse and Recycle.  If you are creative enough to create something beautiful from things that have been discarded, then this event is for you</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Art Attack</h2>
          <p>For all the artists out there, this event is for you. Bring out the colors and paint the town red.</p>
          <p><a class="btn btn-warning" href="/soon" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>

	<footer>
		<div class="container-fluid footer-design">

			<div class="row text-center">
				<div class="col-xs-4"><a href="/team">Team</a> </div>
				<div class="col-xs-4"><a href="/contact">Contact</a></div>
				<div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
			</div>
			<div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
		</div>
	</footer>

	<script src="js/jquery-2.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootswatch.js"></script>
</body>
</html>
