<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Partners</title>
	<link rel="icon" type="image/png" href="../assets/img/fevicon.png">
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="../assets/css/style.css" rel="stylesheet">
	<link href="../assets/css/font-awesome.min.css" rel="stylesheet">
	<link href="../assets/css/inherit.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="container">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">Partners for <span class="orange">GUSAC CARNIVAL </span></h2>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<h4>Title Sponsors</h4> <br>
					<h4>Assoc Sponsors</h4> <br>
					<h4>Partners</h4> <br>

					<h4 class="centered">Should fill with images.</h4>
					<br>
				</div>
			</div>

			<div class="row">
				<br>
				<br>
				<h2 class="centered">Presented By</h2>
				<br>
			</div>
		</div>



		<footer>
			<br>
			<div class="container">
				<p class="centered">All Rights Reserved.© <a target="_blank" href="https://www.facebook.com/gusaccarnival" class="orange">GUSAC Carnival 2015</a></p>
			</div>
		</footer>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="../assets/js/bootstrap.min.js"></script>
		<script src="../assets/js/main.js"></script>
	</body>
	</html>
