<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Register</title>
	<link rel="icon" type="image/png" href="img/fevicon.png">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/inherit.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="container">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">Register for <span class="orange">GUSAC CARNIVAL </span><span class="red">2015</span></h2>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<h4>Registrations Point 1 : some content</h4> <br>
					<h4>Registrations Point 2 : some content</h4> <br>
					<h4>Registrations Point 3 : some content</h4> <br>

					<h4 class="centered">Please check your email after submitting the form as you will get a username and password that can be used to login to the website and register for various events.</h4>
					<br>
					<h4><code>Note:</code> If you donot recieve a mail hearing from us please check your <span class="red">Spam List</span> or contact us at <span class="orange">registrations@gusac.org</span> regarding any technical glitches.</h4>

				</div>
			</div>

			<div class="row">
				<br>
				<br>
				<h2 class="centered">Registration Form</h2>
				<br>
			</div>
		</div>


		<section id="main">
			<div class="container">
				<div class="boxrg last">
					<div class="row">
						<div class="col-sm-12">
							<h2 class="centered">Details</h2>
							<p>Please be specific to the form details and answer in brief. If Any thing wrong with the registration form <br>send us an email at <kbd><a href="mailto:gusac.info@gmail.com">gusac.info@gmail.com</a></kbd></p>


							<form id="registration-form" class="registration-form" name="registration-form" method="post" action="/controller/register" role="form">
								<div class="row">
									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-info">Your Full Name</span>
											<hr>
											<input id="name" name="name" class="form-control" required="required" placeholder="Name" type="text">
										</div>
									</div>

									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-danger">Valid College ID card Number </span>
											<hr>
											<input id="id" name="id" class="form-control" required="required" placeholder="Id" type="text">
										</div>
									</div>


									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-warning">Your Email Addresss </span>
											<hr>
											<input id="email" name="email" class="form-control" required="required" placeholder="Email address" type="text">
										</div>
									</div>

									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-success">Your Contact Number</span>
											<hr>
											<input id="number" name="number" class="form-control" required="required" placeholder="Phone No" type="text">
										</div>
									</div>

									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-danger">College/Institute or Organization</span>
											<hr>
											<input id="collorg" name="collorg" class="form-control" required="required" placeholder="College/Organization" type="text">
										</div>
									</div>

								</div>

								<div class="row">
									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-info">Enter the password</span>
											<hr>
											<input id="pass" name="pass" class="form-control" required="required" placeholder="Password" type="password">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-9">
										<div class="form-group">
											<span class="label label-warning">Confirm the Password</span>
											<hr>
											<input id="confpass" name="confpass" class="form-control" required="required" placeholder="Confirm Password" type="password">
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-9">

										<div class="form-group">
											<input name="submit" class="btn btn-success btn-lg" type="submit" value="Submit">
										</div>
									</div>
								</div>
							</form>
						</div>


					</div>
				</div>
			</div>
		</section>

		<footer>
			<br>
			<div class="container">
				<p class="centered">All Rights Reserved.© <a target="_blank" href="https://www.facebook.com/gusaccarnival" class="orange">GUSAC Carnival 2015</a></p>
			</div>
		</footer>



		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
	</html>
