<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Team</title>
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/fevicon.png">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/bootswatch.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">GUSAC CARNIVAL</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse " id="navbar-main">


            <ul class="nav navbar-nav navbar-right">
				<li><a href="/about" >About</a></li>
				<li><a href="/events">Events</a></li>
				<li><a href="/workshops" >Workshops</a></li>
				<li><a href="/culturals" >Culturals</a></li>
				<li><a href="http://gitamstudio.com/" >Film Festival</a></li>
				<li><a href="/literary" >Literary Fest</a></li>
				<li><a href="/lectures" >Guest Lectures</a></li>
				<li><a href="/sponsors" >Sponsors</a></li>
				<li><a href="/register" >Register</a></li>
			</ul>

        </div>
    </div>
</div>
<br>

		<section id="team" class="bg-light-gray">
			<div class="container">
			<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
							<h4>Siddartha Varma</h4>
							<p class="text-muted">Head Operations</p>
							<ul class="list-inline social-buttons">
								<li><a href="https://www.facebook.com/siddartha.varma.5?fref=ts"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
							<h4>Sai Akhil</h4>
							<p class="text-muted">Head Finance</p>
							<ul class="list-inline social-buttons">
								<li><a href="https://www.facebook.com/sai.a.dusi?fref=ts"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/33.jpg" class="img-responsive img-circle" alt="">
							<h4>Jagadeesh Vattikonda</h4>
							<p class="text-muted">Finance Team</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
							<h4>Raghava Appaka</h4>
							<p class="text-muted">Sponsorship Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/4.jpg" class="img-responsive img-circle" alt="">
							<h4>Akshay Rayapudi</h4>
							<p class="text-muted">Marketing Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/5.jpg" class="img-responsive img-circle" alt="">
							<h4>Suraj Bathina</h4>
							<p class="text-muted">Events Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/" class="img-responsive img-circle" alt="">
							<h4>Chiranjeevi Rayapudi</h4>
							<p class="text-muted">Events Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/6.jpg" class="img-responsive img-circle" alt="">
							<h4>Krishna Sharma</h4>
							<p class="text-muted">Guest Lectures Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/7.jpg" class="img-responsive img-circle" alt="">
							<h4>Sree Charan</h4>
							<p class="text-muted">Workshops Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/8.jpg" class="img-responsive img-circle" alt="">
							<h4>Chandra Mouli</h4>
							<p class="text-muted">Fabrication Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/31.jpg" class="img-responsive img-circle" alt="">
							<h4>Raghuram Malla</h4>
							<p class="text-muted">Fabrication Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/37.jpg" class="img-responsive img-circle" alt="">
							<h4>Akhil Guthula</h4>
							<p class="text-muted">Arts Team</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/34.jpg" class="img-responsive img-circle" alt="">
							<h4>Pappu Nishant</h4>
							<p class="text-muted">Arts Team</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/9.jpg" class="img-responsive img-circle" alt="">
							<h4>Charan A</h4>
							<p class="text-muted">Local Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/10.jpg" class="img-responsive img-circle" alt="">
							<h4>Ram Pradyum</h4>
							<p class="text-muted">Out of City Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/11.jpg" class="img-responsive img-circle" alt="">
							<h4>Ritu Vellanki</h4>
							<p class="text-muted">Online Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/12.jpg" class="img-responsive img-circle" alt="">
							<h4>Ravi Shankar</h4>
							<p class="text-muted">Designers Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/35.jpg" class="img-responsive img-circle" alt="">
							<h4>Pranav Chanduri</h4>
							<p class="text-muted">Design Team</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/32.jpg" class="img-responsive img-circle" alt="">
							<h4>Chandrakanth Akella</h4>
							<p class="text-muted">Design Team</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/14.jpg" class="img-responsive img-circle" alt="">
							<h4>Abhijith Gururaj</h4>
							<p class="text-muted">App Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/15.jpg" class="img-responsive img-circle" alt="">
							<h4>Om Bhallamudi</h4>
							<p class="text-muted">Web Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/16.jpg" class="img-responsive img-circle" alt="">
							<h4>Akhil Pandey</h4>
							<p class="text-muted">Web Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/17.jpg" class="img-responsive img-circle" alt="">
							<h4>Tahseen K</h4>
							<p class="text-muted">Literary Fest Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/18.jpg" class="img-responsive img-circle" alt="">
							<h4>Krathi A</h4>
							<p class="text-muted">Literary Fest Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/19.jpg" class="img-responsive img-circle" alt="">
							<h4>Yogesh B</h4>
							<p class="text-muted">Film Festival Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/20.jpg" class="img-responsive img-circle" alt="">
							<h4>Likhith M</h4>
							<p class="text-muted">Film Festival Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/21.jpg" class="img-responsive img-circle" alt="">
							<h4>Pinak Dewanji</h4>
							<p class="text-muted">Cultural Night Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/13.jpg" class="img-responsive img-circle" alt="">
							<h4>Deepak Vamsi</h4>
							<p class="text-muted">Content Management Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/23.jpg" class="img-responsive img-circle" alt="">
							<h4>Pranay Metta</h4>
							<p class="text-muted">Campus Ambassador Program Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
				<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/24.jpg" class="img-responsive img-circle" alt="">
							<h4>Samson</h4>
							<p class="text-muted">Hospitality Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/25.jpg" class="img-responsive img-circle" alt="">
							<h4>Raghava Ram</h4>
							<p class="text-muted">Volunteer Pool Incharge</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/26.jpg" class="img-responsive img-circle" alt="">
							<h4>Krishna Pradeep</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/27.jpg" class="img-responsive img-circle" alt="">
							<h4>Tanmayee P</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="img/team/28.jpg" class="img-responsive img-circle" alt="">
							<h4>Siva Chandan</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
					</div>
					<div class="col-sm-3">
						<div class="team-member">
							<img src="img/team/36.jpg" class="img-responsive img-circle" alt="">
							<h4>Umesh Talasila</h4>
							<p class="text-muted">Logistics Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="team-member">
							<img src="img/team/30.jpg" class="img-responsive img-circle" alt="">
							<h4>Vasista P</h4>
							<p class="text-muted">Logistics Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
					</div>
				</div>

				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<p class="large text-muted"> Thank You.</p>
					</div>
				</div>
			</div>
		</section>

	<footer>
		<div class="container-fluid footer-design">

			<div class="row text-center">
				<div class="col-xs-4"><a href="/team">Team</a> </div>
				<div class="col-xs-4"><a href="/contact">Contact</a></div>
				<div class="col-xs-4"><a href="/privacy">Privacy & Terms</a> </div>
			</div>
			<div class="row text-center gusac-footer-text"> Handcrafted by Team GUSAC <span class="glyphicon glyphicon-heart"></span> </div>
		</div>
	</footer>

	<script src="js/jquery-2.1.3.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootswatch.js"></script>


</body>
</html>
