<!DOCTYPE html>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name = "author" content = "Akhil Pandey , Om Bhallamudi">
	<meta name = "keywords" content = "GUSAC carnival gusac GITAM" >
	<meta name = "description" content = "Official Website of GUSAC Carnival, part of GUSAC (GITAM University Science and Activity Center)." >

	<title>Carnival | Team</title>
	<link rel="icon" type="image/png" href="img/fevicon.png">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/inherit.css" rel="stylesheet">>

</head>
<body>
	<div class="container">
		<div class="container">
			<br>
			<br>
			<div class="row">
				<h2 class="centered">Entire team of <span class="orange">GUSAC CARNIVAL </span><span class="red">2015</span></h2>
				<br>
				<div class="col-lg-offset-2 col-lg-8">
					<h4>some content</h4> <br>
					<h4>some content</h4> <br>
					<h4>some content</h4> <br>

					<h4 class="centered">There is some content to be added here.</h4>
					<br>
				</div>
			</div>

			<div class="row">
				<br>
				<br>
				<h2 class="centered">Our Amazing Team</h2>
				<br>
				<br>
			</div>
		</div>

		<section id="team" class="bg-light-gray">
			<div class="container">
			<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Siddartha Varma</h4>
							<p class="text-muted">Head Operations</p>
							<ul class="list-inline social-buttons">
								<li><a href="https://www.facebook.com/siddartha.varma.5?fref=ts"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Sai Akhil</h4>
							<p class="text-muted">Head Finance</p>
							<ul class="list-inline social-buttons">
								<li><a href="https://www.facebook.com/sai.a.dusi?fref=ts"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Raghava Appaka</h4>
							<p class="text-muted">Sponsorship Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Akshay Rayapudi</h4>
							<p class="text-muted">Marketing Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Suraj Bathina</h4>
							<p class="text-muted">Events Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Krishna Sharma</h4>
							<p class="text-muted">Guest Lectures Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Sree Charan</h4>
							<p class="text-muted">Workshops Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Chandra Mouli</h4>
							<p class="text-muted">Fabrication Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Charan A</h4>
							<p class="text-muted">Local Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Ram Pradyum</h4>
							<p class="text-muted">Out of City Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Abhijith Gururaj</h4>
							<p class="text-muted">Online Publicity Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Ravi Shankar</h4>
							<p class="text-muted">Designers Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Deepak Vamsi</h4>
							<p class="text-muted">Content Management Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Abhijith Gururaj</h4>
							<p class="text-muted">App Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Om Bhallamudi</h4>
							<p class="text-muted">Web Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Akhil Pandey</h4>
							<p class="text-muted">Web Development</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Tahseen K</h4>
							<p class="text-muted">Literary Fest Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Krathi A</h4>
							<p class="text-muted">Literary Fest Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Yogesh B</h4>
							<p class="text-muted">G-Studio Event Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Likhith M</h4>
							<p class="text-muted">G Films Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Pinak Dewanji</h4>
							<p class="text-muted">Cultural Night Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Molika Sinha</h4>
							<p class="text-muted">Media Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Pranay Metta</h4>
							<p class="text-muted">Campus Ambassador Program Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
				<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Samson</h4>
							<p class="text-muted">Hospitality Co-ordinator</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Raghava Ram</h4>
							<p class="text-muted">Volunteer Pool Incharge</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Krishna Pradeep</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Tanmayee P</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Siva Chandan</h4>
							<p class="text-muted">Promotion Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
				<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Sandeep P</h4>
							<p class="text-muted">Logistics Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<img src="#" class="img-responsive img-circle" alt="">
							<h4>Vasista P</h4>
							<p class="text-muted">Logistics Team Lead</p>
							<ul class="list-inline social-buttons">
								<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<p class="large text-muted">NOTE : Should i include some content.</p>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<br>
			<div class="container">
				<p class="centered">All Rights Reserved.© <a target="_blank" href="https://www.facebook.com/gusaccarnival" class="orange">GUSAC Carnival 2015</a></p>
			</div>
		</footer>


		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	</body>
	</html>
