/* Guiding Index for Style
 * =======================
 *
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. Id, classes
 * 4. Pseudo classes
 * 5. Media queries
 */

/* Imports */


/* Elements */

.launching_soon_pic{
margin-top: 20%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
