/* ----- STANDARD CSS BEGINS ------*/

.top-padding-min{
    padding-top: 10px;
}

/* ----- STANDARD CSS ENDS------*/

/* ** *** *** ***  INDEX PAGE STARTS  ** *** *** ***  */

.navbar-brand {
    font-weight: 600;
}
.navbar-default .navbar-nav > li >  .active {
    color: #ffffff;
    background-color: #1a242f;
}

/* ** *** *** ***  INDEX PAGE ENDS  ** *** *** ***  */



/* ** *** *** ***  REGISTER PAGE ENDS  ** *** *** ***  */


.form-horizontal{

    margin-top: 50px;
    width: 80%;
}

/* ** *** *** ***  REGISTER PAGE ENDS  ** *** *** ***  */


/* ** *** *** ***  LECTURES PAGE STARTS  ** *** *** ***  */

.lecture-dp{
    max-height: 150px;
    max-width: 150px;
    border: 5px solid #ffffff;
}

/* ** *** *** ***  LECTURES PAGE ENDS  ** *** *** ***  */
